# Read DataSet

In [1]:
import pandas as pd
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
A =pd.read_csv("D:/GitHub_Projects/Loan_Prediction_Analysis_ANN/training_set.csv")

In [3]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
B = A.drop(labels=["Loan_ID"],axis=1)

Creating the "replacer" function for Missing Data Treatment in which null values of numerical data will be replaced by mean of numerical data and categorical data null values will be replaced by mode of categorical data present in the dataset.

In [6]:
def replacer(df):
    import pandas as pd
    Q = pd.DataFrame(df.isna().sum(),columns=["ct"])
    for i in Q[Q.ct > 0].index:
        if(df[i].dtypes == "object"):
            x = df[i].mode()[0]
            df[i] = df[i].fillna(x)
        else:
            x = df[i].mean()
            df[i] = df[i].fillna(x)

In [7]:
replacer(B)

In [8]:
Y = B[["Loan_Status"]]
X = B.drop(labels=["Loan_Status"],axis=1)

In [9]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849.00000,0.0,146.412162,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,5405.54085,1508.0,128.000000,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000.00000,0.0,66.000000,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583.00000,2358.0,120.000000,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000.00000,0.0,141.000000,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900.00000,0.0,71.000000,360.0,1.0,Rural
610,Male,Yes,3+,Graduate,No,4106.00000,0.0,40.000000,180.0,1.0,Rural
611,Male,Yes,1,Graduate,No,8072.00000,240.0,253.000000,360.0,1.0,Urban
612,Male,Yes,2,Graduate,No,7583.00000,0.0,187.000000,360.0,1.0,Urban
613,Female,No,0,Graduate,Yes,4583.00000,0.0,133.000000,360.0,0.0,Semiurban

The important columns need to have a same magnitude before creating the model so we will create another new function know as Preprocessing for the DataSet.

In [10]:
def preprocessing(X):
    cat = []
    con = []
    import pandas as pd
    for i in X.columns:
        if(X[i].dtypes=="object"):
            cat.append(i)
        else:
            con.append(i)      

    X1 = pd.get_dummies(X[cat])
    from sklearn.preprocessing import StandardScaler
    ss = StandardScaler()
    X2 = pd.DataFrame(ss.fit_transform(X[con]),columns=con)
    Xnew = X2.join(X1)
    return Xnew

In [11]:
Xnew = preprocessing(X)

In [12]:
Xnew

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.072651,-0.554368,0.000000,0.279851,0.451640,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,0.000000,-0.038610,-0.219273,0.279851,0.451640,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,-0.394096,-0.554368,-0.957641,0.279851,0.451640,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,-0.462412,0.252103,-0.314547,0.279851,0.451640,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0.097389,-0.554368,-0.064454,0.279851,0.451640,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,-0.410479,-0.554368,-0.898095,0.279851,0.451640,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0
610,-0.212902,-0.554368,-1.267279,-2.518655,0.451640,0,1,0,1,0,0,0,1,1,0,1,0,1,0,0
611,0.436842,-0.472284,1.269371,0.279851,0.451640,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
612,0.356730,-0.554368,0.483367,0.279851,0.451640,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
613,-0.134756,-0.554368,-0.159728,0.279851,-2.410441,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y.Loan_Status = le.fit_transform(Y)

In [14]:
Y

     Loan_Status
0              1
1              0
2              1
3              1
4              1
..           ...
609            1
610            1
611            1
612            1
613            0

[614 rows x 1 columns]

# Split the DataSet in Training and Testing Set

In [15]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# Creat an Artificial Neural Network(ANN)

In [16]:
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.callbacks import EarlyStopping

In [17]:
nn = Sequential()
nn.add(Dense(200,input_dim=(Xnew.shape[1])))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(1,activation="sigmoid"))

In [18]:
nn.compile(loss="binary_crossentropy",metrics=["accuracy"])
nn.fit(xtrain,ytrain,validation_split=0.2,batch_size=4,epochs=100)

Epoch 1/100
98/98 [==============================] - 1s 3ms/step - loss: 0.6603 - accuracy: 0.7551 - val_loss: 0.5145 - val_accuracy: 0.7980
Epoch 2/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5811 - accuracy: 0.7730 - val_loss: 0.5612 - val_accuracy: 0.7980
Epoch 3/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5679 - accuracy: 0.7653 - val_loss: 0.5531 - val_accuracy: 0.7778
Epoch 4/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5208 - accuracy: 0.7628 - val_loss: 0.5561 - val_accuracy: 0.8182
Epoch 5/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5539 - accuracy: 0.7551 - val_loss: 0.5561 - val_accuracy: 0.7677
Epoch 6/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5582 - accuracy: 0.7577 - val_loss: 0.5371 - val_accuracy: 0.7778
Epoch 7/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5613 - accuracy: 0.7704 - val_loss: 0.5483 - val_accuracy: 0.7980
Epoch 8/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5519 - accuracy: 0.7781 - val_loss: 0.5211 - val_accuracy: 0.7980
Epoch 9/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5227 - accuracy: 0.7857 - val_loss: 0.5716 - val_accuracy: 0.8283
Epoch 10/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5275 - accuracy: 0.7959 - val_loss: 0.5164 - val_accuracy: 0.8182
Epoch 11/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5130 - accuracy: 0.7806 - val_loss: 0.5707 - val_accuracy: 0.7576
Epoch 12/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4921 - accuracy: 0.8036 - val_loss: 0.6103 - val_accuracy: 0.7273
Epoch 13/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5465 - accuracy: 0.7883 - val_loss: 0.4956 - val_accuracy: 0.8182
Epoch 14/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5254 - accuracy: 0.7908 - val_loss: 0.5855 - val_accuracy: 0.7778
Epoch 15/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5224 - accuracy: 0.7883 - val_loss: 0.5423 - val_accuracy: 0.7980
Epoch 16/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5160 - accuracy: 0.7959 - val_loss: 0.5516 - val_accuracy: 0.7980
Epoch 17/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5060 - accuracy: 0.7934 - val_loss: 0.5173 - val_accuracy: 0.7879
Epoch 18/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5037 - accuracy: 0.7857 - val_loss: 0.6339 - val_accuracy: 0.7576
Epoch 19/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5006 - accuracy: 0.7959 - val_loss: 0.5240 - val_accuracy: 0.8182
Epoch 20/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5010 - accuracy: 0.8010 - val_loss: 0.5504 - val_accuracy: 0.7980
Epoch 21/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4974 - accuracy: 0.7883 - val_loss: 0.5490 - val_accuracy: 0.7879
Epoch 22/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5115 - accuracy: 0.7959 - val_loss: 0.5017 - val_accuracy: 0.7980
Epoch 23/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4745 - accuracy: 0.7985 - val_loss: 0.5941 - val_accuracy: 0.7778
Epoch 24/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4945 - accuracy: 0.7908 - val_loss: 0.5470 - val_accuracy: 0.7879
Epoch 25/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4962 - accuracy: 0.8036 - val_loss: 0.5379 - val_accuracy: 0.7879
Epoch 26/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5067 - accuracy: 0.8036 - val_loss: 0.5052 - val_accuracy: 0.8081
Epoch 27/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5016 - accuracy: 0.7959 - val_loss: 0.4847 - val_accuracy: 0.8081
Epoch 28/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4869 - accuracy: 0.8061 - val_loss: 0.5093 - val_accuracy: 0.7980
Epoch 29/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4975 - accuracy: 0.8061 - val_loss: 0.5457 - val_accuracy: 0.7980
Epoch 30/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4851 - accuracy: 0.8036 - val_loss: 0.4992 - val_accuracy: 0.8081
Epoch 31/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4836 - accuracy: 0.8036 - val_loss: 0.5553 - val_accuracy: 0.7778
Epoch 32/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4785 - accuracy: 0.8010 - val_loss: 0.6006 - val_accuracy: 0.8081
Epoch 33/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4974 - accuracy: 0.8010 - val_loss: 0.5042 - val_accuracy: 0.7980
Epoch 34/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4845 - accuracy: 0.8036 - val_loss: 0.5069 - val_accuracy: 0.8081
Epoch 35/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4707 - accuracy: 0.8087 - val_loss: 0.5491 - val_accuracy: 0.8081
Epoch 36/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4865 - accuracy: 0.7908 - val_loss: 0.5860 - val_accuracy: 0.8081
Epoch 37/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4870 - accuracy: 0.8010 - val_loss: 0.5809 - val_accuracy: 0.8182
Epoch 38/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4852 - accuracy: 0.8061 - val_loss: 0.5113 - val_accuracy: 0.8081
Epoch 39/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4825 - accuracy: 0.8061 - val_loss: 0.5484 - val_accuracy: 0.8081
Epoch 40/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4912 - accuracy: 0.8138 - val_loss: 0.5475 - val_accuracy: 0.8182
Epoch 41/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4855 - accuracy: 0.8036 - val_loss: 0.5905 - val_accuracy: 0.8081
Epoch 42/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4765 - accuracy: 0.8036 - val_loss: 0.5342 - val_accuracy: 0.8081
Epoch 43/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4907 - accuracy: 0.8010 - val_loss: 0.5326 - val_accuracy: 0.7980
Epoch 44/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4720 - accuracy: 0.7985 - val_loss: 0.8357 - val_accuracy: 0.7980
Epoch 45/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4981 - accuracy: 0.7985 - val_loss: 0.6105 - val_accuracy: 0.8081
Epoch 46/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5011 - accuracy: 0.8061 - val_loss: 0.4961 - val_accuracy: 0.8081
Epoch 47/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4877 - accuracy: 0.7985 - val_loss: 0.5177 - val_accuracy: 0.8081
Epoch 48/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4968 - accuracy: 0.7985 - val_loss: 0.5038 - val_accuracy: 0.8081
Epoch 49/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4904 - accuracy: 0.8061 - val_loss: 0.4992 - val_accuracy: 0.7980
Epoch 50/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4994 - accuracy: 0.8036 - val_loss: 0.5080 - val_accuracy: 0.8081
Epoch 51/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4967 - accuracy: 0.8036 - val_loss: 0.5007 - val_accuracy: 0.7980
Epoch 52/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4925 - accuracy: 0.8010 - val_loss: 0.5568 - val_accuracy: 0.8081
Epoch 53/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4920 - accuracy: 0.8036 - val_loss: 0.5133 - val_accuracy: 0.7980
Epoch 54/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4896 - accuracy: 0.8087 - val_loss: 0.5120 - val_accuracy: 0.8081
Epoch 55/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4762 - accuracy: 0.8061 - val_loss: 0.5566 - val_accuracy: 0.8081
Epoch 56/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4823 - accuracy: 0.8010 - val_loss: 0.5489 - val_accuracy: 0.8081
Epoch 57/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4788 - accuracy: 0.8010 - val_loss: 0.6920 - val_accuracy: 0.7980
Epoch 58/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4926 - accuracy: 0.8061 - val_loss: 0.5004 - val_accuracy: 0.8081

Epoch 59/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4844 - accuracy: 0.8010 - val_loss: 0.5374 - val_accuracy: 0.7980
Epoch 60/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4835 - accuracy: 0.8010 - val_loss: 0.5087 - val_accuracy: 0.8182
Epoch 61/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4862 - accuracy: 0.8061 - val_loss: 0.6117 - val_accuracy: 0.8081
Epoch 62/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4694 - accuracy: 0.7908 - val_loss: 0.5474 - val_accuracy: 0.8182
Epoch 63/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4891 - accuracy: 0.8010 - val_loss: 0.5856 - val_accuracy: 0.7980
Epoch 64/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4904 - accuracy: 0.8112 - val_loss: 0.5331 - val_accuracy: 0.8182
Epoch 65/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4855 - accuracy: 0.8061 - val_loss: 0.5173 - val_accuracy: 0.8081
Epoch 66/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4966 - accuracy: 0.8087 - val_loss: 0.4990 - val_accuracy: 0.8283
Epoch 67/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4905 - accuracy: 0.7985 - val_loss: 0.5175 - val_accuracy: 0.7980
Epoch 68/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4923 - accuracy: 0.7985 - val_loss: 0.5066 - val_accuracy: 0.8081
Epoch 69/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4832 - accuracy: 0.8010 - val_loss: 0.5001 - val_accuracy: 0.8081
Epoch 70/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4748 - accuracy: 0.8036 - val_loss: 0.5029 - val_accuracy: 0.7980
Epoch 71/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4826 - accuracy: 0.8087 - val_loss: 0.5306 - val_accuracy: 0.8081
Epoch 72/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4890 - accuracy: 0.8112 - val_loss: 0.5891 - val_accuracy: 0.8081
Epoch 73/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4793 - accuracy: 0.8036 - val_loss: 0.5187 - val_accuracy: 0.7980
Epoch 74/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4855 - accuracy: 0.8087 - val_loss: 0.5734 - val_accuracy: 0.7879
Epoch 75/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4896 - accuracy: 0.7985 - val_loss: 0.5194 - val_accuracy: 0.8081
Epoch 76/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4841 - accuracy: 0.8087 - val_loss: 0.6299 - val_accuracy: 0.7980
Epoch 77/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4850 - accuracy: 0.7985 - val_loss: 0.5632 - val_accuracy: 0.8081
Epoch 78/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4926 - accuracy: 0.8036 - val_loss: 0.5350 - val_accuracy: 0.7879
Epoch 79/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4896 - accuracy: 0.8087 - val_loss: 0.4926 - val_accuracy: 0.8081
Epoch 80/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4787 - accuracy: 0.8010 - val_loss: 0.5359 - val_accuracy: 0.8081
Epoch 81/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4823 - accuracy: 0.8036 - val_loss: 0.5183 - val_accuracy: 0.8081
Epoch 82/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4786 - accuracy: 0.8061 - val_loss: 0.5541 - val_accuracy: 0.8081
Epoch 83/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4842 - accuracy: 0.8036 - val_loss: 0.4929 - val_accuracy: 0.8081
Epoch 84/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4874 - accuracy: 0.8036 - val_loss: 0.5247 - val_accuracy: 0.8081
Epoch 85/100
98/98 [==============================] - 0s 2ms/step - loss: 0.4932 - accuracy: 0.7934 - val_loss: 0.5330 - val_accuracy: 0.7879
Epoch 86/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4880 - accuracy: 0.8036 - val_loss: 0.5104 - val_accuracy: 0.8182
Epoch 87/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4868 - accuracy: 0.8163 - val_loss: 0.5443 - val_accuracy: 0.8081
Epoch 88/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4878 - accuracy: 0.8112 - val_loss: 0.5140 - val_accuracy: 0.8081
Epoch 89/100
98/98 [==============================] - 0s 1ms/step - loss: 0.5005 - accuracy: 0.7985 - val_loss: 0.5131 - val_accuracy: 0.7980
Epoch 90/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4900 - accuracy: 0.8087 - val_loss: 0.5087 - val_accuracy: 0.8081
Epoch 91/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4840 - accuracy: 0.8138 - val_loss: 0.5587 - val_accuracy: 0.8081
Epoch 92/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4876 - accuracy: 0.8138 - val_loss: 0.5309 - val_accuracy: 0.7879
Epoch 93/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4821 - accuracy: 0.7959 - val_loss: 0.5337 - val_accuracy: 0.7980
Epoch 94/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4824 - accuracy: 0.8087 - val_loss: 0.5966 - val_accuracy: 0.8081
Epoch 95/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4859 - accuracy: 0.8087 - val_loss: 0.5255 - val_accuracy: 0.7980
Epoch 96/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4926 - accuracy: 0.8061 - val_loss: 0.5160 - val_accuracy: 0.8081
Epoch 97/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8112 - val_loss: 0.5306 - val_accuracy: 0.7980
Epoch 98/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4777 - accuracy: 0.8036 - val_loss: 0.5129 - val_accuracy: 0.8081
Epoch 99/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4847 - accuracy: 0.7985 - val_loss: 0.5116 - val_accuracy: 0.7980
Epoch 100/100
98/98 [==============================] - 0s 1ms/step - loss: 0.4804 - accuracy: 0.8010 - val_loss: 0.4998 - val_accuracy: 0.7980

# Read the Testing Set

In [19]:
B = pd.read_csv("D:GitHub_Projects/Loan_Prediction_Analysis_ANN/testing_set.csv")

In [20]:
B = B.drop(labels=["Loan_ID"],axis=1)

We will use the same replacer function for missing data treatment

In [21]:
replacer(B)

To make the Testing Dataset having same magnitude as of Training DataSet we will use preprocessing function.

In [22]:
test = preprocessing(B)

In [23]:
test.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Dependents_0', 'Dependents_1',
       'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [24]:
Xnew.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Dependents_0', 'Dependents_1',
       'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [25]:
test.shape

(367, 20)

In [26]:
Xnew.shape

(614, 20)

Now the Training and Testing set are of same magnitude we will make a predictions

In [27]:
Q = []
for i in nn.predict(test):
    if(i[0] < 0.5):
        Q.append(0)
    else:
        Q.append(1)

12/12 [==============================] - 0s 816us/step

In [28]:
pred = le.inverse_transform(Q)

In [29]:
B = pd.read_csv("D:/GitHub_Projects/Loan_Prediction_Analysis_ANN/testing_set.csv")

In [30]:
C = B[["Loan_ID"]]

In [31]:
C['Loan_Status_Predicted'] = pred

In [32]:
C

      Loan_ID Loan_Status_Predicted
0    LP001015                     Y
1    LP001022                     Y
2    LP001031                     Y
3    LP001035                     Y
4    LP001051                     Y
..        ...                   ...
362  LP002971                     Y
363  LP002975                     Y
364  LP002980                     Y
365  LP002986                     Y
366  LP002989                     Y

[367 rows x 2 columns]